[Unit]
Description=Patrick's Telegram Bot Watchdog
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
PIDFile=/var/run/tgbot.pid
ExecStart=/usr/bin/python3 /root/life-tg-bot/tgbot_fnA.py
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
